<h1>Welcome</h1>

<div class="registerForm">
    <h2>Create Order</h2>
    <form [formGroup]="orderForm" (ngSubmit)="save()">
        <div class="form-group">
            <label for="orderdate">Order Date</label>
            <input type="datetime-local" class="form-control" formControlName="orderDate">
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" formControlName="quantity">
        </div>
        <div class="form-group">
            <label for="unitPrice">Unit Price</label>
            <input type="number" class="form-control" formControlName="unitPrice">
        </div>
        <div class="form-group">
            <label for="customer">Customers</label>
            <select name="customer" id="customer" class="form-control" formControlName="customer">
                <option [ngValue]="item.id" *ngFor="let item of customers">{{item.companyName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="employee">Employees</label>
            <select name="employee" id="employee" class="form-control" formControlName="employee">
                <option [ngValue]="item.id" *ngFor="let item of employees">{{item.firstName + " " + item.lastName }}</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

<router-outlet></router-outlet>